.movie-detail {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.movie-description {
  display: flex;
  gap: 20px;
}

.year {
  margin-right: 20px;
}

.movie-heading {
  align-items: center;
  margin-bottom: 20px;
}

.movie-heading h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.year {
  font-size: 16px;
  color: #777;
}

.movie-heading span {
  font-size: 18px;
  margin-top: 5px;
}

.movie-description div {
  margin-bottom: 20px;
}

.movie-description img {
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.movie-description h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styles for the buttons */
button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.tag {
  display: inline-block;

  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
}

.movie-details {
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.detail-heading {
  font-size: 18px;
  font-weight: bold;
  /* color: #007bff;  */
  margin-bottom: 5px;
}

.detail-data {
  font-size: 16px;
  color: #007bff;
}

/* Style for the horizontal line */
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: 1fr; /* Display as a single column */
  }

  .movie-description {
    flex-direction: column; /* Display as a column */
  }
}
